{% extends 'AppBundle::layout.html.twig' %}

{% block title "Candidatures - Entreprises" %}

{% block content -%}
    <div class="col-sm-8 col-sm-offset-2">
        <h1 class="entreprise">{{ entity.name }}</h1>
        <ul class="list-inline">
            {% if entity.tel %}
                <li>
                    <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> {{ entity.tel }}
                </li>
            {% endif %}
            {% if entity.website %}
                <li>
                    <a href="{{ entity.website }}" target="_blank">
                    <span class="glyphicon glyphicon-link" aria-hidden="true"></span>&nbsp;
                    {{ entity.website }}
                    </a>
                </li>
            {% endif %}
            {% if entity.email %}
                <li>
                    <a href="mailto:{{ entity.email }}">
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{ entity.email }}
                    </a>
                </li>
            {% endif %}
            {% if entity.effective %}
                <li>
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ entity.effective }}
                </li>
            {% endif %}
        </ul>
        {% if  entity.address1 is not empty or entity.address2 is not empty or entity.zip is not empty or entity.city is not empty %}
            <p>
                <ul class="list-unstyled">
                    {% if  entity.address1 is not empty %}
                        <li>{{ entity.address1 }}</li>
                    {% endif %}
                    {% if  entity.address2 is not empty %}
                        <li>
                            <th>Complément d'addresse</th>
                            <td>{{ entity.address2 }}</td>
                        </li>
                    {% endif %}
                    {% if entity. zip is not empty or entity.city is not empty %}
                        <li>
                            {{ entity.zip }}
                            {{ entity.city }}
                        </li>         
                    {% endif %}
                </ul>
            </p>
        {% endif %}
        {% if  entity.notes is not empty %}
            <p class="bg-info">
                {{ entity.notes | nl2br }}
            </p>
        {% endif %}
        {% if entity.pros is not empty or entity.cons is not empty %}
            <p>
                {% if  entity.pros is not empty %}
                    <p class="text-success">
                        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                        {{ entity.pros }}
                    </p>
                {% endif %}
                {% if  entity.cons is not empty %}
                    <p class="text-warning">
                        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                        {{ entity.cons }}
                    </p>
                {% endif %}
            </p>
        {% endif %}

        <a class="btn btn-info" href="{{ path('entreprise') }}">
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
        </a>

        <a class="btn btn-warning" href="{{ path('entreprise_edit', { 'id': entity.id }) }}">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        </a>
        {% form_theme delete_form 'AppBundle:Form:my_big_delete_button.html.twig' %}
        {{ form(delete_form) }}

        {# Candidatures associées #}
        {% if entity.candidatures is not empty  %}
            <h2>Candidatures</h2>
            <table class="record_properties table table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Diffusion</th>
                        <th>Libellé</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {% for candidature in entity.candidatures %}
                    <tr>
                        <td>{{ candidature.dateOffre|localizeddate('short', 'none') }}</td>
                        <td>{{ candidature.libOffre }}</td>
                        <td>
                            <a class="btn btn-xs btn-primary" href="{{ path('candidature_show', { 'id': candidature.id }) }}">
                            <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        {% if entity.contacts is not empty  %}
            <h2>Contacts</h2>
            <table class="record_properties table table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Fonction</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {% for contact in entity.contacts %}
                    <tr>
                        <td>{{ contact.firstName ~ ' ' ~ contact.name }}</td>
                        <td>{{ contact.function }}</td>
                        <td>
                            <a class="btn btn-xs btn-primary" href="{{ path('contact_show', { 'id': contact.id }) }}">
                            <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>

{% endblock %}
