{% extends 'AppBundle::layout.html.twig' %}

{% block title "Candidatures - Détails" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets  'bundles/bmatznerjqueryui/css/smoothness/jquery-ui.css'
                    'bundles/bmatznerjqueryui/css/smoothness/jquery.ui.theme.css'
                    filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block content -%}
    <div class="col-sm-12">
        <h1 class="candidature">Candidature chez {{ entity.entreprise.name }}
            {% if entity.entreprise.website %} 
                <small>
                    <a href="{{ entity.entreprise.website }}" target="_blank">
                        <span class="glyphicon glyphicon-link" aria-hidden="true"></span>&nbsp;
                        {{ entity.entreprise.website }}
                    </a>
                </small>
            {% endif %}</h1>
        <h2>{{ entity.libOffre }}</h2>
        <p>
            Parution: <strong>{{ entity.dateOffre|localizeddate('full', 'none') }}</strong>
            {% if  entity.refOffre %} / Référence: <strong>{{ entity.refOffre }}</strong> {% endif %}
            {% if  entity.typeCandidature %} / <strong>{{ entity.typeCandidature }}</strong> {% endif %}
            {% if  entity.urlOffre %} / <strong>
                <a href="{{ entity.urlOffre }}" target="_blank">
                    <span class="glyphicon glyphicon-link" aria-hidden="true"></span>&nbsp;
                    Consulter l'annonce
                </a>
            </strong> {% endif %}
        </p>
        {% if entity.note %}
            <p class="bg-info">{{ entity.note|nl2br|converturls }}</p>
        {% endif %}

        <a class="btn btn-info" href="{{ path('candidature') }}">
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
        </a>
         <a class="btn btn-warning" href="{{ path('candidature_edit', { 'id': entity.id }) }}">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        </a>

        {% if entity.status %}
            {% set status = 'failure' %}
            {% set spanClass = 'glyphicon-thumbs-up success' %}
        {% else %}
            {% set status = 'success' %}
            {% set spanClass = 'glyphicon-thumbs-down failure' %}        
        {% endif %}
        <a class="btn btn-default"  href="{{ path('candidature_update_status', { 'id': entity.id, 'status' : status, 'show' : true }) }}">
            <span class="glyphicon {{ spanClass }}" aria-hidden="true"></span>
        </a>


        <h3 class="document">Documents         
            <a class="btn btn-xs btn-success" data-toggle="modal" data-target="#popupAddDoc">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
        </h3>
        <ul class="list-unstyled" id="listeDocuments">
        {% for document in entity.documents %}
           <li> {% include 'CandidaturesBundle:Document:download_link.html.twig' with {'document' : document}  %}</li>
        {% endfor %}
        </ul>
        <div class="modal fade" id="popupAddDoc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title document" id="myModalLabel">Ajout de document</h4>
                    </div>
                    <div class="modal-body">
                        {% render(controller('CandidaturesBundle:Document:new', 
                                {'ajax': true, 'params': { 'candidature_id': entity.id }}))  %}
                    </div>            
                </div>
            </div>
        </div>

        <h3 class="evenement">Evènements
            <a class="btn btn-xs btn-success" data-toggle="modal" data-target="#popupEvt" data-href="{{ path('evenement_new_2', {'candidature_id': entity.id}) }}" data-title="<span class='evenement'>Créer un évènement</span>">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
        </h3>
        {% include 'CandidaturesBundle:Evenement:list.html.twig' with {'evenements' : entity.evenements}  %}
        <div class="modal fade" id="popupEvt" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Modifier un évènement</h4>
                    </div>
                    <div class="modal-body">
                    </div>            
                </div>
            </div>
        </div>

        <p class="bg-info">
            <a class="btn btn-xs btn-success" data-toggle="modal" data-target="#popupContact" data-href="{{ path('contact_new_in_entreprise', { 'entreprise_id': entity.entreprise.id }) }}" data-title="<span class='contact'>Créer un contact</span>">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> contact
            </a>
        </p>
        <div class="modal fade" id="popupContact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Créer un contact</h4>
                    </div>
                    <div class="modal-body">
                    </div>            
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
    // Activation des popover
    $(function () {
        $('[data-toggle="popover"]')
                .popover({ html:true });
    })
    </script>
    {% javascripts      
        '@CandidaturesBundle/Resources/public/js/candidature.js'
        '@CandidaturesBundle/Resources/public/js/evenement.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript" src="{{ asset('bundles/bmatznerjqueryui/js/minified/jquery-ui.min.js') }}"></script>
{% endblock %}

