{% extends 'AppBundle::layout.html.twig' %}

{% block title "Candidatures - Liste de candidatures" %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets 	'bundles/bmatznerjqueryui/css/smoothness/jquery-ui.css'
					'bundles/bmatznerjqueryui/css/smoothness/jquery.ui.theme.css'
	 filter='cssrewrite' %}
    	<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %} 
	{{ form_stylesheet(edit_form) }}
{% endblock %}

{% block content -%}
    <div class="col-sm-12">
	    <h1>Candidature edit</h1>

	    {{ form(edit_form) }}

        <a class="btn btn-info" href="{{ path('candidature') }}">
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
	    </a>
	    {{ form(delete_form) }}
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts 		
		'@CandidaturesBundle/Resources/public/js/candidature.js'
	%}
	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
	<script type="text/javascript" src="{{ asset('bundles/bmatznerjqueryui/js/minified/jquery-ui.min.js') }}"></script>
	{{ form_javascript(edit_form) }}
{% endblock %}
