<table class="records_list table table-hover table-condensed">
    <thead>
        <tr>
            <th>
                Création 
            </th>
            <th>
                Poste
            </th>
            <th>
                Entreprise
            </th>
            <th class="text-center"></th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}

        <tr{{ entity.nbEvenements > 0 ? " class='success'" : "" }}>
            <td>{{ entity.0.createdAt|localizeddate('short', 'none') }}</td>
            <td>{% if entity.0.refOffre %}{{ entity.0.refOffre }} - {% endif %}{{ entity.0.libOffre }}</td>
            <td>{{ entity.0.entreprise.name }}</td>
            <td class="text-center">
                {% if entity.0.status %}
                    <span class="glyphicon glyphicon-thumbs-up success" aria-hidden="true"></span>
                {% else %}
                    <span class="glyphicon glyphicon-thumbs-down failure" aria-hidden="true"></span>
                {% endif %}
            </td>
            <td>
                <a class="btn btn-xs btn-primary" href="{{ path('candidature_show', { 'id': entity.0.id }) }}">
                    <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>